.newp form {
    width: 80%;
    margin: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1.5px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .newp label {
    display: block;
    
    margin-left: 1em;
    text-align: start;
    font-size: 1.3rem;
  }
  
  .newp input,
  .newp textarea {
    margin-top: 1.5em;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 2px solid #a7a3a3;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .newp input::placeholder,
  .newp textarea::placeholder{
    color:#ff7878;
    font-weight: 600;
  }
  
  .newp button {
    padding: 10px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .newp button:hover {
    background-color: #0056b3;
  }
  @media only screen and (max-width: 768px) {
    .newp form{
      width: 85%;
    }
    .newp label{
      margin-left: 0;
    }
  }
  