.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main ul li{
  list-style: none;
  display: flex;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: #737881;
}
main ul li p{
  width: 80%;
  text-align: start;
}
main ul li input[type="checkbox"]{
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 2px solid gray;
  box-shadow: black;
}
main ul li svg{
  width: 30px;
  height: 30px;
  margin: 10px;
  color: #124bc6;
  position: relative;
  right: 10px;
}
main ul li svg:hover,
main ul li svg:focus{
  color: rgb(184, 22, 22);
  transform: scale(1.1);
}
.addform {
  width: 35%;
  display: flex;

  justify-content: flex-start;
  margin: auto;
  padding: 0.5em;
  border-bottom: 1px solid #eee;
}

.addform label {
  position: absolute;
  left: -99999px;
}

.addform input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 30px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

button {
  height: 38px;
  min-width: 38px;
  border-radius: 0.25rem;
  margin-top: 1px;
  padding: 0;
  font-size: 1rem;
  background-color: aliceblue;
  color: #124bc6;
  cursor: pointer;
}

button:focus, 
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}
button svg{
  width: 35px;
  height: 35px;
}

#search-items{
  width: 34%;
  padding: 0.3em;
  
  min-height: 25px;
  font-size: 1.1rem;
  border: 2px solid rgb(4, 4, 4);
  border-radius: 5px;
}
.error-banner{
  background-color: rgba(255, 0, 0, 0.3);
  width: 40%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 25px 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: #737881;
}